<h2>Tweet Recorder Status</h2>

<strong>Tweet count:</strong>&nbsp;<%= @tweet_count %><br/>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
<%= for predicate <- @predicates do %>
    <tr>
      <td><%= predicate.key   %></td>
      <td><%= Enum.join(predicate.values, ",") %></td>
    </tr>
<% end %>
  </tbody>
</table>
